<%= turbo_frame_tag dom_id_for_account_balance(@account, preview: @in_preview) do %>
  <p class="<%= amount_text_color(@balance) %> leading-none"><%= Money.from_cents(@balance.abs, @account.currency).format %></p>
<% end %>
