<% content_for :modal do %>
  <div class="flex justify-between items-baseline border-b">
    <h3 class="ml-4 text-lg flex-grow"><%= @kind %></h3>
    <span class="px-4 py-2.5 border-l cursor-pointer bg-green-500 text-neutral-50 hover:bg-green-400">save</span>
    <%=
      link_to "close",
              accounts_and_goals_path,
              class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
    %>
  </div>
  <div class="h-[100dvh] flex justify-center items-center">
    <%= render "components/spinner" %>
  </div>
<% end %>