<div class="p-2 h-[100%]">
  <%= render "components/card", additional_classes: "flex flex-col justify-center items-center h-[100%]" do %>
    <h1 class="text-5xl">welcome to financo</h1>
    <p>your personal finances helper</p>
  <% end %>
</div>
