<%# locals: (id:, src:, name:) %>

<%= turbo_frame_tag id, src: src do %>
  <%= render "components/card", additional_classes: "flex justify-between items-center gap-1 px-4 py-2 h-12" do %>
    <p class="flex-grow"><%= name %></p>
    <p><%= render "components/spinner" %></p>
  <% end %>
<% end %>