<%# locals: (name:, summary: {} %>

<%= render "components/card", additional_classes: "flex justify-between items-center gap-1 px-4 py-2 h-12" do %>
  <p class="flex-grow"><%= name %></p>
  <% if summary.empty? %>
    <p class="text-neutral-300">-</p>
  <% else %>
    <% summary.each do |currency, amount| %>
      <p class="<%= amount_text_color(amount) %>"><%= Money.from_cents(amount.abs, currency).format %></p>
    <% end %>
  <% end %>
<% end %>