<%# locals: (name:, summary: {} %>

<%= render "components/card", additional_classes: "flex justify-between gap-2 px-3 py-1.5"  do %>
  <p class="flex-grow"><%= name %></p>
  <div class="flex justify-end flex-grow gap-1">
    <% if summary.empty? %>
      <p class="text-neutral-300">-</p>
    <% else %>
      <% summary.each do |currency, amount| %>
        <p class="<%= amount_text_color(amount) %>"><%= Money.from_cents(amount.abs, currency).format %></p>
      <% end %>
    <% end %>
  </div>
<% end %>