<li
  class="[&[data-nav-active]]:min-w-[100%] hover:min-w-[95%] border shadow rounded min-w-[85%] duration-150 ease-linear"
  <% if is_active %>
    data-nav-active
  <% end %>
>
  <%= link_to name, url, class: "block cursor-pointer text-right pb-1 pt-4 px-3" %>
</li>